.wrapper {
  overflow: hidden;
  grid-column: 1 / 8;
}

.earth {
  fill: #75daff;
}

.graticule {
  fill: none;
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
}

.country {
  &:hover {
    cursor: pointer;
  }
}
